<% layout('layout') -%>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <img class="img-circle img-responsive img-center" src="<%= user.picture %>" alt="">
    <br />
    <p>Username: <%= user.username %></p>
    <p>DisplayName: <%= user.displayName %></p>
    <br />
    <a href="/edit-profile" class="btn btn-success btn-lg">Edit Profile</a>
  </div>


  <div class="col-sm-6">
  	<table class="table table-striped">
    <thead>
      <tr>
        <th>Friends</th>
        <th>message</th>
      </tr>
    </thead>
    <tbody>
    <% user.friends.forEach(function(friend) { %>
      <tr>
        <td><%= friend.friend.username %></td>
        <td><button class="btn btn-success">Message<% friend.friend.username %></button></td>
      </tr>
    <% }) %>
      
    </tbody>
  </table>
  </div>

</div>
