<% layout('layout') -%>

<!-- show any messages that come back with authentication -->
<% if (message.length > 0) { %>
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= message %>
  </div>
  <% } %>

  <div class="row" id="spaces-bottom">
    <div class="col-lg-9 col-md-offset-2">
      <% users.forEach(function(foundUser) { %>
        <% if (String(user._id) !== String(foundUser._id))  { %>
          <div class="col-md-4">
            <span><img class="product-image img-circle" src="<%= foundUser.picture %>"></span>
            <h4 class="list-group-item-heading">
              <a href='/users/<%= foundUser._id %>'>
                <%= foundUser.username %>
              </a>
            </h4>
          </div>

          <% } %>
          <% }) %>
        </div>
      </div>
